body {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

.wrapper{
    display: block;
    text-align: center;
}

.list_element{
    display: inline-block;
    background-color: red;
}

#refresh_btn{
    display: block;
    width: 80%;
    margin: 0 auto;
}