
html, body {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  min-height:100%;
}

a {
  color: #00B7FF;
}

.border_radius_zero {
	border-radius:0;
}

#upper_black_navbar{
	width:100%;
	opacity:0.75;
}

#upper_black_navbar a{
	display: block important!;
	height:auto important!;
	padding-bottom: 0;
	overflow: visible important!
}

#nav_links a{
	color:white;
	font-size:16px;
}

#site-title-wrapper{
	width:100%;
	height:300px;
}

#site-title{
	width:50%;
	position: relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	vertical-align:middle;
    text-align:center;
	color:white;
}

#site-title h1{
	margin:0;
	font-size: 80px;
}

#site-title h2{
	margin:0;
	font-size: 18px;
	line-height:1;
}

.header-img{
	position: absolute;
	left:0;
	top:-415px;
	display: block;
	height:auto;
	width:100%;
	overflow:hidden;
	z-index: 0;
	max-width:none;
}

#header{
	position:relative;
	overflow: hidden;
}

button:focus {outline:0 !important;}

#get_devices_btn{
	margin-bottom: 30px;
}

#caption{
	margin-top:40px;
	margin-bottom: 30px;
}

#device_switch, #device_name{
	display:table-cell;
	height:40px;
	width:200px;
}

#devices{
	margin-top: 20px;
	margin-bottom: 50px;

}

.td_center{
	text-align: center;
}

#footer {
	width: 100% !important;
    border-top: 1px solid #000 !important;
    background: #222 !important;
    color: #ffffff !important;
    font-size: 13px !important;
    clear: both !important;
    padding: 10px 0 !important;
	height: 68px !important;
	position:relative !important;
	margin:0 !important;
}

#footer  a{
    color: #fff;
}
.sort{
  padding:8px 30px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #2F82AC;
  height:30px;
}
.sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}
tbody>tr:hover{
  background-color:#D3D3D3;
}
#footer_content{
	position:relative;
	top:50%;
	transform:translateY(-50%);
}


#header_and_main_container{
	min-height: 100%;
	margin: 0 auto -68px;
}

#form-signin, #form-register{
	margin-top:30px;
	margin-bottom:103px;
}

#nav_link a{
	height:100%;
}

#nav_link{
	height:100%;
}

#nav_links{
	display:block;
	float:left;
	height:100%;
}

#nav_box{
	height:100%;
}

nav{
	height: 1em;
}

#signin_heading, #register_heading{
	margin-top:40px;
}

#devices_list{
	list-style-type:none;
	list-style-position: outside;
	padding-left:0;
	margin-left:0;
}

#devices_list li{
	padding-left:0;
	margin-left:0;
}

#devices_body{
	margin-bottom:103px;
}

/* #summary{
	list-style-type:none;
	list-style-position: outside;
	padding-left:0;
	margin-left:0;
}

#summary li{
	padding-left:0;
	margin-left:0;
} */

/* .onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #1a75ff; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
} */

.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 63px;
  height: 20px;
  padding: 3px;
  background-color: white;
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
  background-image: -moz-linear-gradient(top, #eeeeee, white 25px);
  background-image: -o-linear-gradient(top, #eeeeee, white 25px);
  background-image: linear-gradient(to bottom, #eeeeee, white 25px);
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
  -moz-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background;
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #aaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #47a8d8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
  background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-handle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  background-image: -webkit-linear-gradient(top, #eeeeee, white);
  background-image: -moz-linear-gradient(top, #eeeeee, white);
  background-image: -o-linear-gradient(top, #eeeeee, white);
  background-image: linear-gradient(to bottom, #eeeeee, white);
}
.switch-input:checked ~ .switch-handle {
  left: 40px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-green > .switch-input:checked ~ .switch-label {
  background: #4fb845;
}
