<!DOCTYPE html>
<html>

<head>
    <script src="/socket.io/socket.io.js"></script>
    <% include ./partials/head %>
    <script>
            var activeDevices = true;
            getDevices();
    </script>
</head>

<body>
    <div id="header_and_main_container">
        <header id="header">
              <% include ./partials/header %>
        </header>
        <main id="main_container" class="container col-md-5 col-md-offset-1">
            <h2 role="heading" aria-level="3" id="caption">Active devices</h2>
            <div id="devices_body">
                <ul id="devices_list" aria-labelledby="caption">
                  <li>Device not connected.</li>  
                </ul>
            </div>
        </main>
    </div>
    <footer id="footer" role="contentinfo">
        <div id="footer_content" class="container">
            <div class="row">
                <div class="copyright col-md-12">
                    <span class="pull-left">
							<a href="#">Contact us: info@semu.co</a>
						</span>
                    <span class="pull-right">
							Copyright <span aria-hidden="true">©</span> 2016
                    <a href="">SEMU</a>. All Rights Reserved.
                    </span>
                </div>
            </div>
        </div>
    </footer>


</body>

</html>
