<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>

</head>

<body>
    <div id="header_and_main_container">
        <header id="header">
            <% include ./partials/header %>
        </header>
        <main id="main_container" class="container col-md-4 col-md-offset-4" role="main">
            <% if(info.length != 0) {%>
                <div class="alert alert-info">
                    <%= info %>
                </div>
                <% } %>
                    <% if(error.length != 0) {%>
                        <div class="alert alert-danger">
                            <%= error %>
                        </div>
                        <% } %>
                              <h2 role="heading" aria-level="2" tabindex="0" id="signin_heading">Reset password</h2>
                                <form method="POST" action="forgot">
                                    <fieldset class="form-group">
                                        <label for="email">E-mail: </label>
                                        <input type="email" name="email" id="email" class="form-control" required="true">
                                    </fieldset>
                                    <button class="btn btn-default btn-block" type="submit"> Reset password </button>
                                </form>
        </main>
      </div>
        <footer id="footer" role="contentInfo">
            <% include ./partials/footer %>
        </footer>
</body>

</html>
