<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <div id="header_and_main_container">
        <header id="header">
            <% include ./partials/header %>
        </header>
        <main id="main_container" class="container col-md-4 col-md-offset-4" role="main">
            <div role="form">
                <h2 role="heading" aria-level="2" tabindex="0" id="signin_heading">Sign in</h2>

                <form class="form-signin" id="form-signin" method="post" action="/login">
                    <% if(typeof(errorMessage) !== 'undefined') { %>
                        <div id="error" aria-labelledby="message" tabindex="-1">
                            <span id="message"><%= errorMessage %></span>
                        </div>
                        <% } %>

                            <fieldset class="form-group">
                                <label id="usernameLabel" for="username">Username <span aria-hidden="true">(</span>required<span aria-hidden="true">)</span></label>
                                <input type="text" class="form-control" name="username" id="username" required>
                            </fieldset>
                            <fieldset class="form-group">
                                <label id="passwordLabel" for="password">Password <span aria-hidden="true">(</span>required<span aria-hidden="true">)</span></label>
                                <input type="password" class="form-control" name="password" id="password" required>
                            </fieldset>
                            <input type="submit" name="signin" id="signin" value="Sign in" class="btn btn-default btn-block" />

                            <p><a href="/forgot">Forgot password?</a></p>
                </form>
            </div>
        </main>
	</div>
	<footer id="footer" role="contentInfo">
		<% include ./partials/footer %>
	</footer>
</body>

</html>
