<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>

</head>

<body>
  <div id="header_and_main_container">
    <header id="header">
    <% include ./partials/header %>
    </header>
    <div id="main_container" class="container col-md-5 col-md-offset-1">
      <% if(success.length != 0) {%>
        <div class="alert alert-success">
          <%= success %>
        </div>
        <% } %>
        <% if(error.length != 0) {%>
          <div class="alert alert-danger">
            <%= error %>
          </div>
          <% } %>
      <form class="form-register" id="form-register" method="post">
        <h3>Register</h3>
                  <label>Username:</label>
                  <p><%=user.username %>
                <fieldset class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password" id="password" >
                </fieldset>
                <fieldset class="form-group">
                  <label for="confirm">Confirm Password</label>
                  <input type="password" class="form-control" name="confirm" id="confirm" >
                </fieldset>
                <fieldset class="form-group">
                  <label for="email">E-mail: </label>
                  <input type="email" name="email" id="email" class="form-control" required="true" value=<%=user.email%>>
                </fieldset>
                <input type="submit" name="signup" id="signup" value="Register" class="btn btn-default btn-block" />
                </p>
      </form>
  </div>
  <footer id="footer" role="contentInfo">
    <% include ./partials/footer %>
  </footer>
</body>

</html>
