<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
</head>

<body>
  <div id="header_and_main_container">
    <header id="header">
      <% include ./partials/header %>
    </header>
    <div id="main_container" class="container col-md-3 col-md-offset-1">
      <form class="form-register" id="form-register" method="post" action="/signup">
        <h3>Register</h3>
        <% if(errorMessage.length != 0) {%>
          <div class="alert alert-danger">
            <%= errorMessage %>
          </div>
          <% } %>
            <% if(successMessage != 0) {%>
              <div class="alert alert-success">
                <%= successMessage %>
              </div>
              <% } %>

                <fieldset class="form-group">
                  <label for="username">Username:</label>
                  <input type="text" class="form-control" name="username" id="username" required="true">
                </fieldset>
                <fieldset class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password" id="password" required="true">
                </fieldset>

                <fieldset class="form-group">
                  <label for="firstName">First name: </label>
                  <input type="text" class="form-control" name="firstName" id="firstName" required="true">
                </fieldset>
                <fieldset class="form-group">
                  <label for="lastName">Last name: </label>
                  <input type="text" name="lastName" id="lastName" class="form-control" required="true">
                </fieldset>
                <fieldset class="form-group">
                  <label for="email">E-mail: </label>
                  <input type="email" name="email" id="email" class="form-control" required="true">
                </fieldset>
                <fieldset class="form-group">
                  <label for="deviceMac">Raspberry MAC: </label>
                  <input type="text" name="deviceMac" id="deviceMac" class="form-control">
                </fieldset>
                <fieldset class="form-group">
                  <label for="admin">Admin: </label>
                  <input type="checkbox" name="admin" id="admin" class="form-control">
                </fieldset>
                <input type="submit" name="signup" id="signup" value="Register" class="btn btn-default btn-block" />
                </p>
      </form>
    </div>
  </div>
  <footer id="footer" role="contentInfo">
    <% include ./partials/footer %>
  </footer>
</body>

</html>
