<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>

</head>

<body>
  <div id="header_and_main_container">
    <header id="header">
      <% include ./partials/header %>
    </header>
    <div id="main_container" class="container col-md-5 col-md-offset-1">
      <% if(message.length != 0) {%>
        <div class="alert alert-danger">
          <%= message %>
        </div>
        <% } %>
          <p>Reset Password
            <form method="POST">
              <fieldset class="form-group">
                <label for="password">New Password</label>
                <input type="password" class="form-control" name="password" id="password" required="true">
              </fieldset>
              <fieldset class="form-group">
                <label for="confirm">Confirm Password</label>
                <input type="password" class="form-control" name="confirm" id="confirm" required="true">
              </fieldset>
              <button class="btn btn-default btn-block" type="submit"> Reset password </button>
            </form>
    </div>
    <footer id="footer" role="contentInfo">
      <% include ./partials/footer %>
    </footer>
</body>

</html>
