<!DOCTYPE html>
<html lang="en">

<head>

    <% include ./partials/head %>

</head>

<body>
    <div id="header_and_main_container">
        <header id="header">
            <% include ./partials/header %>
        </header>
        <div id="main_container" class="container">
            <div id="users">
                <div id="message"></div>
                <br>
                <input class="search" placeholder="Search" />

                <button class="sort" data-sort="id">Sort by id</button>
                <button class="sort" data-sort="username">Sort by username</button>
                <button class="sort" data-sort="firstname">Sort by first name</button>
                <button class="sort" data-sort="lastname">Sort by last name</button>
                <button class="sort" data-sort="email">Sort by email</button>
                <button class="sort" data-sort="admin">Sort by admin</button>
                <table id="grid" class="table">
                    <thead>
                        <tr>
                            <th data-type="ID">ID</th>
                            <th data-type="userName">Username</th>
                            <th data-type="firstName">First Name</th>
                            <th data-type="lastName">Last Name</th>
                            <th data-type="email">E-mail</th>
                            <th data-type="deviceMac">Device MAC</th>
                            <th data-type="admin">Admin</th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        <% for(var i=0; i < users.length; i++) { %>
                            <tr id="row_<%= users[i]._id %>">
                                <td class="id" id="id_<%= users[i]._id %>">
                                    <%= users[i]._id %>
                                </td>
                                <td class="username" id="uname_<%= users[i]._id %>">
                                    <%= users[i].username %>
                                </td>
                                <td class="firstname" id="fname_<%= users[i]._id %>">
                                    <%= users[i].firstName %>
                                </td>
                                <td class="lastname" id="lname_<%= users[i]._id %>">
                                    <%= users[i].lastName %>
                                </td>
                                <td class="email" id="email_<%= users[i]._id %>">
                                    <%= users[i].email %>
                                </td>
                                <td class="devicemac" id="dmac_<%= users[i]._id %>">
                                    <%= users[i].deviceMac %>
                                </td>
                                <td class="admin" id="isAdmin_<%= users[i]._id %>">
                                    <%= users[i].isAdmin %>
                                </td>
                                <td id="edit_<%= users[i]._id %>">
                                    <button class="btn btn-primary" onclick="editRow('<%=users[i]._id%>')">Edit</button>
                                </td>
                                <td id="save_<%= users[i]._id %>">
                                    <form method="post" action="/users" id="users_data_<%= users[i]._id %>">
                                        <input type="hidden" id="user_id_<%= users[i]._id %>" name="user_id" value="<%= users[i]._id %>" disabled>
                                        <input class="btn btn-primary" id="save_button_<%= users[i]._id %>" type="submit" value="Save" disabled>
                                    </form>
                                </td>
                                <% if (!users[i].equals(user)) { %>
                                    <td id="delete_<%= users[i]._id %>">
                                        <button class="btn btn-danger" onclick="deleteFunction('<%=users[i]._id%>')">Delete</button>
                                    </td>
                                    <% } %>

                            </tr>
                            <% } %>
                    </tbody>
                </table>
                <ul class="pagination"></ul>
            </div>
        </div>
    </div>


    <footer id="footer" role="contentInfo">
        <% include ./partials/footer %>
    </footer>
    <script src="/javascripts/list.js"></script>
    <script src="/javascripts/list.pagination.js"></script>
    <script type="text/javascript">
        var options = {
            valueNames: ['id', 'username', 'firstname', 'lastname', 'email', 'devicemac', 'admin'],
            page: 10,
            plugins: [ListPagination({})]

        };
        var userList = new List('users', options);
    </script>
</body>

</html>
