<div id="footer_content" class="container">
  <div class="row">
    <div class="copyright col-md-12">
      <span class="pull-left">
                <a href="#">Contact us: info@semu.co</a>
            </span>
      <span class="pull-right">
                Copyright © 2016
                <a href="">SEMU</a>
                . All Rights Reserved.
            </span>
    </div>
  </div>
</div>
