<img class="header-img" src="/images/ExtraLeg.jpg" alt="Device demo" />
<nav class="navbar navbar-inverse navbar-fixed-top border_radius_zero" id="upper_black_navbar">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav" id="nav_links">
            <% if(typeof user !='undefined') {%>
                <li><a href="/active">Active devices</a></li>
                <li><a href="/inactive">Inactive devices</a></li>
                <li><a href="/profile">My profile</a></li>
                <% if(user.isAdmin) {%>
                    <li><a href="/signup">Register new user</a></li>
                    <li><a href="/users">View users</a></li>
                    <li><a href="/logs">Logs</a></li>
                    <% } %>
                        <li><a href="/signout">Sign out </a></li>
                        <% } else{ %>
                            <li><a href="#">Contact</a></li>
                            <% } %>
        </ul>

    </div>
</nav>
<div id="site-title-wrapper">
    <div id="site-title">
        <h1>SEMU</h1>
        <h2>Welcome to
              Semu.co
            </h2>
    </div>
</div>
